<h2 class="mat-h2">Trigger and Constraint Schemes</h2>
<button mat-raised-button color="primary" (click)="goToNew()"><mat-icon>add</mat-icon><span>New</span></button>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <!-- position name -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header > Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <!-- position description -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>
  <!-- position trigger name -->
  <ng-container matColumnDef="trigger">
    <th mat-header-cell *matHeaderCellDef> Trigger Name </th>
    <td mat-cell *matCellDef="let element"> {{cmbService.triggerChoice[element.trigger -1]}} </td>
  </ng-container>
  <!-- position interim tigger name -->
  <ng-container matColumnDef="interimtrigger">
    <th mat-header-cell *matHeaderCellDef> Interim Trigger Name </th>
    <td mat-cell *matCellDef="let element"> {{cmbService.intTriggerChoice[element.interimtrigger -1]}} </td>
  </ng-container>
  <!-- position effective deadline info -->
  <ng-container matColumnDef="lbmanEffectivedeadlineinfo">
    <th mat-header-cell *matHeaderCellDef> Effective Deadline Info </th>
    <td mat-cell *matCellDef="let element"> {{cmbService.effectiveInfoChoice[element.lbmanEffectivedeadlineinfo-1]}} </td>
  </ng-container>
  <!-- position icons -->
  <ng-container matColumnDef="icons">
    <th mat-header-cell *matHeaderCellDef></th>
    <td style="min-width:60px;"  mat-cell *matCellDef="let element"> <app-icons></app-icons> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
